
*{
background:url(mm.jpg);
}
/*Display arrngement*/

#lin{
font-family:cursive;
font-size:20pt;
text-align:center;
color:white;
display:inline-block;
width:300px;
text-decoration:none;
opacity:0.8;
background-color:rgba(0,4,0,4.8);
position:relative;
border:1px solid black;

}
/* design for text field */ 
.da
input[type="text"],input[type="text"]{
border:none;
width:100%;
padding:0 0;
height:40px;
border-bottom:1px solid #FFF;
background:transparent;
color:white;
}
/*give style to the submit button*/
.da input[type="submit"]:hover
{color:white;
border-radius:20px;
	background:blue;
	cursor:pointer;
	position:scroll;
}
/*code for making the whole text field 
rectangle as seen in page brings in middle */
#lin{
	background:rgba(0,0,0,0.5);
	margin-bottom:20%;
	width:330px;
	height:450px;
	border-sizing:border-box;
text-align:center;
transform:translate(-50%,-50%);
position:absolute;

top:50%;
left:50%;
}
/*give the font size and color to the headings*/
.login
input[type="text"],input[type="password"]{
	border:none;
width:100%;
padding:0 0;
color:blue;
height:40px;
border-bottom:1px solid #FFF;
outline:none;
background:transparent;
color:white;
}
.login a:hover
{
	
	text-decoration:none;
	color:orange;
	transform:rotate(60deg);
	
}



  
